body {
    background-color: rgb(34, 231, 100);
    text-align: center;
    margin-top: 40px;
  }
  
  img{width: 60%;}
  
  h1{color: rgb(233, 17, 17);
  font-size: 50px;
  }
  
  p{font-size: 30px;
  color: rgb(41, 89, 223);
  }
  
  button{
    font-size: 30px;
    margin: 10px;
    background-color: rgb(224, 240, 10);
    color: rgb(0, 0, 0);
    padding: 9px;
    width: 200px;
    font-weight: bold;
    border-radius: 50px;
  }